/* ############################## Font's start ##################### */
/* Fonts For Heading */
@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-Light.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Fonts For Numbers */
@font-face {
    font-family: 'editor-note';
    src: url('../fonts/editors-note/EditorsNote-Medium.woff2') format('woff2'),
        url('../fonts/editors-note/EditorsNote-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* ############################## global classes start ##################### */
:root {
    /* Typography tokens from Figma */
    --camo-body-font: 'plus-jakarta-sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    /* Brand  ver*/
    --brand-primary: #14357A;
    /* Navy-based trust color (good for pressure washing) */
    --brand-accent: #FC621A;
    --slider-color: #05327F;
    /* Orange (contrast punch) */

    /* brand support */
    --support-red: #A53906;
    --support-sky: #19ABC8;
    --support-blue: #26419C;

    /* Brand Utility  colors*/
    --text-btn-primary: #006082;
    --text-primary: #1B2A41;
    --text-scondery: #4C6C87;
    --neutral-white: #FFFFFF;
    --tag-green: #19AAC73B;
    --drag-blue: #19AAC7;
    --shadow-cyan: #1AACCA;

    /* global  ver*/
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-text-dark: #1F1F1F;
    --color-grey: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--camo-body-font)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    color: var(--text-primary);
    font-family: var(--camo-body-font);
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    color: var(--color-brand-primary);
}

h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
}

h3,
h4 {
    font-weight: 600;
}

p {
    font-size: 18px;
    color: var(--text-scondery);
}

main {
    padding: 0px;
    margin: 0px;
}

.camo-margin-top {
    margin-top: 100px;
}

a {
    color: var(--text-primary);
    text-transform: capitalize;
}

a:active {
    color: var(--brand-accent);
}

.num {
    font-family: 'editor-note' !important;
}

.camo-sub-heading {
    color: var(--brand-accent);
    font-size: 16px;
    font-weight: 600;
    line-height: 3px;
}

.camo-sub-heading-after {
    width: 55px;
    background: var(--brand-accent);
    line-height: 3px;
}


/* -----------------------------------------------------NAVBAR------------------------------ */
header.camo-navbar .navbar {
    left: 50%;
    transform: translate(-50%, 10%);
}


.navbar .navbar-nav .nav-link.active {
    color: var(--brand-accent);
}


.camo-btn {
    font-weight: 600;
    width: fit-content;
    border-radius: 20px;
    font-size: 14px;
}

.camo-btn-primary {
    background: linear-gradient(90deg, #ff6a00, #b34500);
    color: var(--neutral-white);
}

.camo-btn-secondery {
    background: var(--color-white);
    color: var(--text-btn-primary);
}

.camo-btn-dark {
    background: linear-gradient(135deg, #26419C 50%, #19ABC8);
    color: var(--color-white);
}

.camo-btn-dark svg rect {
    fill: var(--color-white);
}

.camo-btn-dark svg path {
    fill: var(--color-black);
}


.arrow-icon {
    background: var(--neutral-white);
    color: var(--brand-accent);
    font-size: 10px;
}


/* -----------------------------------------------------------------FOOTER----------------------------------- */


/* Custom Social Icons Circle */
.social-icon {
    width: 38px;
    height: 38px;
    border: 2px solid var(--neutral-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icon:hover {
    background-color: var(--brand-accent);
    border-color: var(--neutral-white);
    transform: translateY(-3px);
}


.footer-link:hover {
    color: var(--brand-accent) !important;
    padding-left: 5px;
}

.back-top {
    background: linear-gradient(90deg, #35597a, #35516b);


}

/* Hero Section */
.camo-hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.camo-hero h1 {
    font-size: 50px;
    font-weight: 600;
}

/* about section */
section.camo-about p {
    font-size: 15px;
}

section.camo-about .container .row.bg-white {
    border-radius: 50px;
    padding: 30px 20px 30px 50px !important;
}

section.camo-about .image-side-camo .top-section .cards-top {
    height: 260px;
    border-radius: 40px;
    width: 49% !important;
    padding: 15px 20px;
    /* border: 1px solid red; */
}

section.camo-about .image-side-camo .col-12 {
    height: 450px;
    border-radius: 40px;
    /* border: 1px solid red; */
    padding: 0;
}

section.camo-about .col-6 .icon .first p {
    font-size: 11px;
}

section.camo-about .icon .second {
    font-size: 50px;
}


/* ############################## Sufiyan's Styling Starts here ##################### */


.town-name {
    background-image: url('data:image/svg+xml,<svg width="26" height="34" viewBox="0 0 26 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5403 0C5.62643 0 0 5.66544 0 12.6309C0 22.528 11.3615 32.747 11.845 33.1761C12.0443 33.3531 12.2923 33.4409 12.5403 33.4409C12.7883 33.4409 13.0364 33.3531 13.2356 33.1775C13.7191 32.747 25.0807 22.528 25.0807 12.6309C25.0807 5.66544 19.4542 0 12.5403 0ZM12.5403 19.5072C8.69881 19.5072 5.57348 16.3818 5.57348 12.5403C5.57348 8.69881 8.69881 5.57348 12.5403 5.57348C16.3818 5.57348 19.5072 8.69881 19.5072 12.5403C19.5072 16.3818 16.3818 19.5072 12.5403 19.5072Z" fill="%2319AAC7"/></svg>');
    background-repeat: no-repeat;
    padding-left: 40px;
    list-style: none;
    font-size: 22px;
    font-weight: 600;
    background-size: 24px;
    color: var(--text-primary);
}


.map-of-towns iframe {
    margin-top: 50px;
    border-radius: 40px;
}

.lineer {
    width: 1px;
    height: 40px;
    background: black;
}


/* faqsec */
.custom-accordion .accordion-item {
    margin-bottom: 25px;
    border-radius: 30px 30px 30px 30px !important;
    overflow: hidden;
    background: #f4f9ff;
    background: linear-gradient(135deg, #14357A, #1B2A41);
    box-shadow: -20px 10px 100px -4px rgb(132 188 221 / 39%);
}

/* Heading default */
.custom-accordion .accordion-button {
    background: #ffffff;
    color: #002B51;
    font-size: 24px;
    font-weight: 500;
    padding: 32px;
    line-height: 1.4;
}

/* Remove Bootstrap shadow */
.accordion-button:focus {
    box-shadow: none !important;
}

/* When opened */
.custom-accordion .accordion-button:not(.collapsed) {
    background: transparent;
    color: #ffffff;
    border-radius: 30px 30px 0 0 !important;
    padding: 40px 40px 20px !important;
}

/* Body style */
.custom-accordion .accordion-body {
    padding: 0px 40px 40px 40px;
    background: transparent;
    color: #ffffff;
    border-radius: 0px 0px 30px 30px !important;
    font-size: 18px;
}

/* Arrow rotate on open */
.accordion-button::after {
    transition: transform .3s ease-in-out;
    background: url('data:image/svg+xml,<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.9698" cy="16.9698" r="16.9698" fill="%23FC621A"/><path d="M9.96985 16.9697H23.9698M23.9698 16.9697L16.9698 23.9697M23.9698 16.9697L16.9698 9.96973" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    width: 40px !important;
    height: 40px !important;
    background-repeat: no-repeat;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
    width: 33px;
    height: 33px;
}

button:not(.collapsed)::after {
    background: url('data:image/svg+xml,<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.9698" cy="16.9698" r="16.9698" fill="%23FC621A"/><path d="M9.96985 16.9697H23.9698M23.9698 16.9697L16.9698 23.9697M23.9698 16.9697L16.9698 9.96973" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important;
    background-repeat: no-repeat !important;
    transform: rotate(270deg) !important;
}

.accordion {
    --bs-accordion-border-width: 0px !important;
    --bs-accordion-border-color: unset !important;
    border: none !important;
}

/* usman code */

/* -------------------------------------------------------------------------USMAN SECTION 3 TAGLINE ------------------------- */
.marquee-section {
    overflow: hidden;
    background-color: transparent;
    width: 100%;
}

.marquee-container {
    display: flex;
    overflow: hidden;
    user-select: none;
}

.marquee-content {
    display: flex;
    flex-shrink: 0;
    min-width: 100%;
    animation: scroll-left 25s linear infinite;
}


@keyframes scroll-left {
    0% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(-100%);
    }
}


.combo-text {
    color: #BDEBF3;
    letter-spacing: -2px;
    margin-bottom: 0;
    line-height: 1;
}

.bubble-img {
    width: 100%;
    height: 100px;
}


.marquee-container:hover .marquee-content {
    animation-play-state: paused;
}


/* -----------------------------------------------------------------------USMAN SECTION 5------------------------------------ */
.side-line {
    height: 2px;
    width: 160px;
    background-color: #fff;
    opacity: 0.7;
}
/* ----------------------------------------------------------------------USMAN SECTION 6------------------------------ */




.text-navy {
    color: #1B2A41 !important;
}

.bg-orange {
    background: linear-gradient(90deg, #FC621A, #A53906);
}


.icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.six-h4 {
    color: #1B2A41;
}

.six-p {
    color: #4C6C87;
}


.camo-six-card {
    transition: all .3s ease !important;
}

.camo-six-card:hover {
    background-color: #14357A !important;
    cursor: pointer;
}

.camo-six hr {
    transition: all .3s ease !important;
}

.camo-six-card:hover h4 {
    color: white;
    cursor: pointer;
}

.camo-six-card p {
    transition: all .3s ease !important;
}

.camo-six-card:hover p {
    color: white;
    cursor: pointer;
}

.camo-six-card .icon-circle {
    transition: all .3s ease !important;
}

.camo-six-card:hover .icon-circle {
    background: #536c9e !important;
    cursor: pointer;
}

/* services slider css */
section.services-slider {
    overflow: hidden;
}

section.services-slider .swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
}

section.services-slider .swiper-wrapper .swiper-slide {
    background: var(--color-white);
    border-radius: 50px;
    overflow: hidden;
    text-align: left;
    padding: 12px;
    height: 560px;
    max-height: 560px;
    transition: 0.5s ease;
}

section.services-slider .swiper-slide img {
    width: 100%;
    height: 455px;
    object-fit: cover;
    border-radius: 39px;
    transition: 0.5s ease;
}

section.services-slider .swiper-wrapper .content {
    padding: 30px 15px;
}

section.services-slider .swiper-wrapper .content h4 {
    color: var(--text-primary);
    font-size: 30px;
    margin-bottom: 100px !important;
}

section.services-slider .swiper-wrapper .content p {
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-white);
}

section.services-slider .swiper-wrapper .content .learnMoreLink {
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: var(--brand-accent);
}

section.services-slider .swiper-wrapper .swiper-slide:hover {
    background-color: var(--slider-color);
}
section.services-slider .swiper-wrapper .swiper-slide:hover.swiper-slide img {
    height: 320px;
}
section.services-slider .swiper-wrapper .swiper-slide:hover.swiper-slide h4 {
    color: var(--color-white);
}

section.services-slider .swiper-wrapper .swiper-slide:hover.swiper-slide .content h4 {
    margin-bottom: 15px !important;
}