@media (min-width: 1330px) {
    .combo-text {
        font-size: 130px;
    }

    .bubble-img {
        height: 300px !important;
    }

    /* mission  */
    section.camo-mission p {
        font-size: 15px;
    }

    /* prosses circul */
    .process-circle {
        padding: 40px 10px;
    }

    .process-circle h5 {
        font-size: 30px;
    }

    .process-circle p {
        font-size: 18px;
    }

    /* camo-service-intro */
    .camo-service-intro .container h2 {
        font-size: 64px;
        line-height: 70px;
    }

    /* camo-services-inner 4cards to 5 */
    .camo-services-inner-card5 .col-lg-3 {
        width: 16.66666667% !important;
    }

    /* camo services five  */
    .camo-service-five h2 {
        font-size: 62px;
        line-height: 65px;
    }
}

@media (max-width: 1450px) {
    .camo-hero .content {
        padding-top: 70px;
    }
}

@media (max-width:1439px) {
    h2 {
        font-size: 40px;
        line-height: 50px;
    }

    /* header */
    header.camo-navbar .navbar {
        padding: 0 !important;
    }

    .camo-navbar .camo-btn-primary {
        gap: 0 !important;
        padding: 5px 10px !important;
        font-size: 11px;
    }

    .camo-navbar .camo-btn-primary img {
        width: 15px !important;
    }

    .camo-navbar li.nav-item {
        font-size: 15px;
        line-height: 15px;
    }

    .camo-navbar .navbar-expand-lg .navbar-nav {
        gap: 0 !important;
    }

    /* Hero Section */
    .camo-hero h1 {
        font-size: 35px;
    }

    p {
        font-size: 16px;
    }

    /* about section */

    section.camo-about .container .row.bg-light {
        padding: 30px 10px 30px 20px !important;
    }

    section.camo-about p {
        font-size: 13px;
    }

    section.camo-about h4 {
        font-size: 13px;
        margin: 0;
    }

    section.camo-about .image-side-camo .top-section .cards-top {
        padding: 20px 20px !important;
        height: auto !important;
    }

    section.camo-about .container .row .icon svg {
        height: 50px;
        width: 50px;
    }

    section.camo-about .container .row .icon {
        gap: 10px !important;
    }

    section.camo-about .icon .first p {
        font-size: 8px;
    }

    section.camo-about .icon .second {
        font-size: 40px;
    }

    section.camo-about .image-side-camo .col-12 {
        height: auto;
    }

    /* footer */
    .email-footer {
        font-size: 13px;
    }

    /* our mission */
    section.camo-mission .desc h2,
    section.camo-mission p {
        padding: 0 !important;
    }

    section.camo-mission .image {
        background-color: #CAF6FF;
        border-radius: 46px;
        padding: 24px !important;
    }

    /* services page card */
    section.services-card-section .services-card-wrapper-for-page .services-card {
        padding: 10px;
        height: 560px;
        max-height: 560px;
        width: 32.2%;
    }

    section.services-card-section .services-card-wrapper-for-page .content {
        padding: 5px 0px 5px 10px;
    }

    section.services-card-section .services-card-wrapper-for-page .content p {
        font-size: 14px;
    }

    /* our services areas */
    .storysec {
        transform: translateY(-10%);
        margin-left: 25px;
        margin-right: 25px;
    }
    .city-box h2 {
        font-size: 16px;
    }
}

@media (max-width:1023px) {

    /*  */
    section.camo-about .image-side-camo .top-section .cards-top {
        height: auto !important;
        width: 100% !important;
        padding: 1px 20px;
        /* border: 1px solid red; */
    }

    /* header */
    header.camo-navbar .navbar {
        padding: 20px 15px 20px 15px !important;
    }

    .camo-navbar .camo-btn-primary {
        gap: 5px !important;
        padding: 5px 5px 5px 20px !important;
        font-size: 16px;
    }

    .camo-navbar .navbar-expand-lg .navbar-nav {
        gap: 10px !important;
    }

    .camo-navbar li.nav-item {
        font-size: 18px;
        line-height: 18px;
    }

    .camo-navbar .camo-btn-primary img {
        width: 20px !important;
    }

    /* hero section */
    .camo-hero h1 {
        font-size: 40px;
        line-height: 40px;
    }

    /* about */
    section.camo-about .container .row.bg-white {
        padding: 40px 20px 40px 30px !important;
    }

    /* testimonial slider */
    .camo-testimonials .swiper-slide {
        min-height: 450px;
    }

    /* mission */
    section.camo-mission .container {
        padding: 50px 30px !important;
    }

    /* services page card */
    section.services-card-section .services-card-wrapper-for-page .services-card {
        width: 48.7%;
    }

    /* prosses circul */
    .process-circle {
        padding: 50px 10px;
        width: 40%;
    }

    /* contact form */
    .camo-contact .contact-left .parf-of-img {
        min-height: 600px;
        height: auto;
    }
}

@media (min-width:1950px) {}

@media screen and (max-width: 990px) {
    .camo-benefits .stick {
        display: none;
    }
}

@media (max-width:768px) {

    /* scroll trigger */
    .center-scroll-down-icon {
        transform: translateY(-80px);
        margin-bottom: -90px;
    }

    /* services page card */
    section.services-card-section .services-card-wrapper-for-page .services-card {
        padding: 10px;
        height: auto;
        width: 90%;
        padding-bottom: 25px;
    }

    section.services-card-section .services-card-wrapper-for-page .services-card img {
        height: 300px;
    }

    /* prosses circul */
    .process-circle {
        width: 50%;
    }

    /* contact form ui */
    .camo-contact .contact-left .parf-of-img {
        min-height: 700px;
        height: auto;
    }
    /* our services areas */
    .storysec {
        transform: translateY(-6%);
        margin-left: 15px;
        margin-right: 15px;
    }
    .city-box h2 {
        font-size: 16px;
    }
}

@media (max-width: 577px) {

    /* global */
    .camo-margin-top {
        margin-top: 50px;
    }

    /* headr */
    header.camo-navbar .navbar {
        padding: 5px !important;
    }

    .navbar-brand img {
        width: 70%;
    }

    header.camo-navbar .navbar {
        padding: 15px 0px !important;
    }

    /* hero */
    .camo-hero h1 {
        font-size: 30px;
        line-height: 35px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .camo-hero img {
        object-position: right !important;
    }

    /* about */
    section.camo-about .container .row.bg-white {
        padding: 40px 10px 10px 10px !important;
    }

    section.camo-about h4 {
        font-size: 11px;
    }

    /* suffi aread container */
    .town-we-wash .town-name {
        padding-left: 20px;
        font-size: 15px;
        background-size: 16px;
    }

    /* sami faq */
    .custom-accordion .accordion-button {
        font-size: 16px;
        padding: 20px;
    }

    .custom-accordion .accordion-body {
        padding: 0px 20px 20px 20px;
        font-size: 18px;
    }

    .custom-accordion .accordion-button:not(.collapsed) {
        padding: 20px !important;
    }

    /* services slider */
    section.services-slider .swiper-wrapper .swiper-slide {
        padding: 10px;
        height: 500px;
    }

    section.services-slider .swiper-slide img {
        height: 430px;
    }

    section.services-card-section .services-card-wrapper-for-page .content .learnMoreLink,
    section.services-slider .swiper-wrapper .content .learnMoreLink {
        font-size: 16px;
        line-height: 16px;
    }

    section.services-slider .swiper-wrapper .content {
        padding: 15px 10px 15px 10px;
    }

    section.services-slider .swiper-wrapper .content p {
        font-size: 12px;
        line-height: 1.2;
        margin-bottom: 10px !important;
    }

    section.services-slider .swiper-wrapper .content h4 {
        font-size: 20px;
    }

    /* scroll trigger */
    .center-scroll-down-icon {
        transform: translateY(-60px);
        margin-bottom: -65px;
    }

    .center-scroll-down-icon .scroll-down-img {
        width: 50px;
        height: 50px;
    }

    .center-scroll-down-icon a {
        font-size: 13px;
    }

    .camo-hero {
        padding-bottom: 80px;
    }

    /* mission */
    section.camo-mission .eyeimage {
        width: 25%;
    }

    /* who we are  */
    section.overflow-hidden.camo-five.d-flex.align-items-end.camo-margin-top {
        background-position: left !important;
    }

    /* services page card */
    section.services-card-section .services-card-wrapper-for-page .services-card {
        padding: 10px;
        height: auto;
        width: 90%;
        padding-bottom: 25px;
    }

    section.services-card-section .services-card-wrapper-for-page .services-card img {
        height: 200px;
    }

    /* prosses circul */
    .process-circle {
        padding: 11px 10px;
        width: 160px;
    }

    .process-circle svg {
        width: 25px;
        height: 25px;
    }

    .process-circle h5 {
        margin-top: 5px;
        font-size: 16px;
    }

    .process-circle p {
        width: 90%;
        font-size: 10px;
        line-height: 10px;
    }

    /* contact form ui */
    .camo-contact .contact-left .parf-of-img {
        min-height: 500px;
        height: auto;
    }
}