* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* font install */
@font-face {
    font-family: 'Inter';
    src: url('../Fonts/Inter-Regular.woff2') format('woff2'),
        url('../Fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* login - signup - createblog*/
.main {
    width: 100%;
    height: auto;
}

.main input,
textarea {
    padding: 8px 25px;
    margin: 20px 0px 6px 0px;
    outline: 0;
    border: 1px solid black;
    border-radius: 10px;
    width: 85%;
}

.main button {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    padding: 8px 20px;
    margin-bottom: 20px;

    border-radius: 10px;
    transition: 0.7s;
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.main button:hover {
    background-color: transparent;
    color: black;
    border: 2px solid rgb(0, 0, 0);
}

a {
    color: black;
    transition: 0.7s;
}

a:hover {
    padding: 5px;
    background: black;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}



/* login - signup - createblog*/

/* All Blog */
.boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid red; */
    text-align: center;
    padding: 20px;
    flex-wrap: wrap;
}

.boxes .box {
    width: 30%;
    height: auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px -7px;
    text-align: left;
    margin-bottom: 30px;
}

.boxes .box hr {
    border: 1px solid black;
    margin-bottom: 10px;
}

.boxes .box h4 {
    margin: 5px;
}

.boxes .box button {

    margin: 0 auto;
    margin-top: 10px;
    padding: 8px 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.7s;
}


.boxes .box button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

/* All Blog */

/* Dashboard */
.page-width {
    width: 1200px;
}

.m-auto {
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid black;
    margin-top: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 5px;
}

nav .links a {
    margin: 5px;
    text-decoration: none;
    color: black;
    transition: 0.7s;
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}

nav a {
    text-decoration: none;
    color: black;
    transition-delay: 0.7s;
}
nav a:hover {
    color: white;
    text-decoration: none;
}
nav .links a:hover {
    border-bottom: 2px solid black;
}

nav .btns a {
    padding: 10px 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.7s;
    text-decoration: none;
    color: black;
}

nav .btns a:hover {
    background-color: black;
    color: white;
    border: 2px solid white;


}

.dash {

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.pro {
    /* border: 2px solid black; */
    width: 30%;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.pro .imag {
    width: 40%;
    margin: 0 auto;
}

.pro .imag img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    height: 130px;
    border: 2px solid black;
}



.pro .details button a {
    text-decoration: none;
    color: rgb(194, 238, 255);
}

/* Dashboard */
.az-form {
    background-color: transparent;
    width: 35%;
    text-align: center;
    padding: 50px 20px 30px 20px;
    border-radius: 10px;
    margin: 15px auto;
    /* border: 2px solid; */
}

.btn-grp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.btn-grp button{
    margin: 0px !important;
}

.dash .btn-grp{
    align-items: center;
    justify-content: center;
}
.dash .details{
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
}
.dash button:hover{
    background-color: transparent;
}

.az-form,
.pro{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px -7px !important;
}